body {
  background-image: url('./images/lights.jpeg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
  margin-bottom: 30px;

}

* {
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* general */

.container {
  width: 100%;
  max-width: 960x;
  margin: 0 auto;
  /* clear: both; */
}
.imageContainer {
  padding-bottom: 45px;
}
#profilePhoto {
  height:45%;
  width:45%;
  position: relative;
  float:left;
  margin-right: 2rem;
}
.ConnectWithMe {
  float: right;
  width: 270px;
  text-align: center;
  height: auto;
  margin-right: 10px;
  
}

.imageContainer {
  padding-bottom: 45px;
}
.connectWithMe img {
  width: 75px;
  height: 75px;
}
.connectWithMe img:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

section {
  background-color: #ffffff;
  border-style: solid;
  border-color: #dddddd;
  display: inline-block;
  text-align: left;
  margin: -20px;  
  margin-top: 40px;
}
section p {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 20px;
}
.galleryLabel { 
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #4aaaa5;
  height: 50px;
  width: 200px;
  position: absolute;
  left: 0px;
  bottom: 20px; 
}
.connectWithMe img:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
  display: flex;
}


#logo {
  float: left;
  width: 400px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

navbar {
  float: right;
  margin-top: 25px;
  justify-content: end;
}

navbar a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

navbar a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  background-color: #666666;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  text-align: center;
  border-style: solid;
  border-color: #666666;
  border-top: 10px solid #4aaaa5;
  flex-shrink: 0;
  min-width: 100%;
}
footer p {
  color: #ffffff;
  font-size: 12px;
} 
  

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

/* main */

#main-container {
  padding-top: 130px;
  /* min-height: calc(100vh - 70px); */
}

.main-section {
  float: left;
  width: auto;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: left;
}


/* portfolio page */

.main-section-p {
  float: left;
  width: 900px;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: left;
}
#marginLine {
  padding-bottom: 10px;
}
.Aboutme {
  padding-top: 15px;
  /* padding-bottom: 15px; */
  float: left;
  max-width: 500px;
}

.Aboutme img {
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}

.flex-container {
  /* flex: 1 0 auto; */
  width: auto;
  margin-left: 200px;
  margin-right: 60px;
  margin-bottom: 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
@media (max-width: 980px) {
    .row, .navbar {   
        flex-direction: column;
    }
  }

@media screen and (max-width: 400px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: lavender;
    }
    .main-section{
      flex: 50%;
      max-width: 50%;
    }
    .flex-container{
      flex: 50%;
      max-width: 50%;
    }
}
@media (max-width: 700px) {
  .row, .navbar {   
      flex-direction: column;
  }
  .main-section{
    flex: 100%;
    max-width: 100%;
  }
  .flex-container{
    flex: 100%;
    max-width: 100%;
  }
}

 
